.cv-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-evenly;

}

.cv {
    object-fit: fill;
    width: 700px;
    height: auto;
}

.yap-container {
    font-weight: 600;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.language::marker {
    content: '</>';
}

.course::marker {
    content: '🎓';
}