.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 28px;
    margin: 80px 170px;
}

.home>img {
    border-radius: 50%;
    width: 200px;
}

.home>h1 {
    text-align: center;
    width: 70%;
    font-size: 40px; 
    font-weight: 600;
}

