.about-me {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.about-me-para {
    font-size: 24px;
    font-weight: 600;
    max-width: 1000px;
}

.about-me-para span {
     background: linear-gradient(270deg, #3e8fb0 10%, #eb6f92 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.about-me-img {
    height: auto;
    width: 400px;
    border-radius: 0.375rem;
}