.detailed {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    position: fixed;
    border-width: thick;
}


.overlay {
    background: rgba(25, 23, 36 ,0.8);
}


.modal-content {
    border-color: 10px thick #eb6f92;
    border-width: thick;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #232136;
    padding: 14px 28px;
    border-radius: 3px;
    color: white;
    border-radius: 0.375rem;
    font-weight: 600;
}

.close, .close-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close {
    color: white;
}

.close-btn {
    color: inherit;
    border: none !important;
}