.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.link-container {
    display: flex;
    gap: 2rem;
    justify-items: center;
}

.contact-row {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: flex-start;
}

.contact-link {
    text-decoration: none;
    color: inherit;
    align-items: center;
    justify-items: center;
}

.icon {
    transition: .3s;
}

.icon:hover {
    color: hsl(43, 100%, 68%);
}

.contact-content {
    margin: auto 0;
    position: absolute;
    left: 30px; 
    right: 0; 
    top: 70%;
    font-weight: 600;

}

.hover-contact {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    height: 3rem;
    gap: 2rem;

}
