.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px; 
    margin: 80px 170px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.img {
    width: 420px;
    height: 280px;
    border-radius: 0.375rem;
    transition: 0.3s;
}

.img:hover {
    transition: 0.3s;
    filter: blur(4px);
}

.showmore {
   display: flex; 
   gap: 15px; 
   border-radius: 50px;
   border: 2px solid white;
   padding: 30px 60px; 
   font-size: 22px;
   font-weight: 500;
   margin-bottom: 80px;
   transition: 0.6s;
   align-items: center;
   cursor: pointer;
}

.showmore:hover {
    background-color: #56526e;
    color: white;
}

.more {
    width: 40px;
    height: 40px;
}

.anchor {
    text-decoration: none;
    color: inherit;
    height: 137px;
}